<% layout("/layouts/boilerplate") %>
<body>
    <h2>All Listings</h2>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">  <!--styling is imp in this line-->
        <% for(let listing of allListings){ %>

            <a href="/listings/<%= listing._id %>">
                <!-- cards -->
                <div class="card">
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height:20rem;">
                    <div class="card-body">
                        <p class="card-text"> <b><%= listing.title %></b> </p> 
                        <p class="card-text"> &#8377;<%= listing.price.toLocaleString("en-IN") %> / night</p>
                    </div>
                </div>
            </a>    
        <% } %>
    </div>
</body>

