<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publish your Property</title>
</head>
<body>
    <h2>Publish your Property</h2>
    <form method="POST" action="/listings?_method=POST">

        <input name="listing[title]" Placeholder="Enter Title" type="text"> <br><br>
        <textarea name="listing[description]" rows="10" cols="50">Write Description</textarea> <br><br>
        <input name= "listing[image.url]" placeholder="Enter image URL/Link " type="text"> <br><br>
        <input name= "listing[price]" placeholder="Enter Pricing" type="number"> <br><br>
        <input name="listing[location]" placeholder="Enter Location" type="text"> <br><br>
        <input name="listing[country]" placeholder="Enter Country" type="text"> <br><br>

        <button>Add</button>
    </form>
</body>
</html>