<% layout("/layouts/boilerplate") %>
<div class="back_img">
    <div class="row">
        <div class="col-8 offset-2">    <!--offset means space from left nad offset 2 m center pr ajata h and col-8 means it contain only 8 spaces.. there are 12 spaces in whole screen-->
            <br><br>
<!-- FORM -->
            <!-- <p style="background-image: url(/Major_Projects/ApnaThikana/assets/newList.png);"></p> -->
            <h2>Publish your Property</h2>
            <form method="POST" action="/listings"  novalidate class="needs-validation"  enctype="multipart/form-data">

                <div class="mb-3">  <!--class=mb3 means margin body 3... margin between bodies-->
                    <label name="title" class="form-label">Title</label> <br>
                    <input name="listing[title]" Placeholder="Enter Title" type="text" class="form-control" required>
                    <div class="invalid-feedback">Please enter Title</div>
                </div>

                <div class="mb-3"> 
                    <label name="description" class="form-label">Description</label> <br>
                    <textarea name="listing[description]" placeholder="Enter Description" class="form-control" required></textarea>
                    <div class="invalid-feedback">Please enter a short description</div>
                    
                </div>
<!-- UPLOADING IMAGE -->
                <div class="mb-3">
                    <label name="image" class="form-label">Upload Image</label> <br>
                    <input name= "listing[image]" type="file" class="form-control">
                    required
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label name="price" class="form-label">Pricing</label><br>
                        <input name= "listing[price]" placeholder="Enter Pricing" class="form-control" required> 
                        <div class="invalid-feedback">Please enter Price</div>
                    
                    </div>
                    <div class="mb-3 col-md-8">
                        <label name="country" class="form-label">Country</label><br>
                        <input name="listing[country]" placeholder="Enter Country" type="text" class="form-control" required>
                        <div class="invalid-feedback">Please enter a valid country</div>

                    </div>
                </div> 

                <div class="mb-3">
                    <label name="location" class="form-label">Location</label> <br>
                    <input name="listing[location]" placeholder="Enter Location" type="text" class="form-control" required>
                    <div class="invalid-feedback">Please enter a valid location</div>

                </div>     
                <button class="btn btn-dark add-btn">Add</button>
                <br><br><br><br>
            </form>
        </div>
    </div>
</div>