 body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction:column ;
    min-height: 100vh;
}

.container{
    flex: 1;
}
                             /* NAVBAR */
.navbar{
    height: 4rem;
    background-color: white;
}

.navbar-brand{
    display: flex;
    height: 9vh;
    width: 8vh;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important ; /* !important is used to overcome/change the bootstrap property*/
}

                                    /* Footer */
.f-info-links a{
    text-decoration: none;  /* to remove underline in links*/
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links{
    margin-bottom: 0.5rem;
}
.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 0.8rem;
    margin-top: 0.8rem;
}
.f-info{
    text-align: center;
    display: flex;
    height: 6rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
}

                                /* INDEX PAGE/ HOME PAGE */
.row a{
    text-decoration: none;
}
.card{
    margin-bottom: 2rem;
    border: none !important;
}
.card:hover{
    font-size:103%;
    opacity: 0.95;
}
.card-body{
    padding: 0 !important;
}


/* ADD PAGE */
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.add-btn{
    background-color: #fe424d !important; 
    border: none !important;
}

.back_img{
    background-image: url(/assets/publish.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* SHOW PAGE */
.btns{
    display: flex;
    padding-bottom: 5rem;
}
.show-card{
    padding-left:0 ;
    padding-right: 0;
}
/* FOR SHOW PAGE BACKGROUND*/
.bg-image{
    background-image: url(/assets/newList.png);
    background-repeat: no-repeat;
    background-size: cover;
}

